
*{
  box-sizing: border-box;
}
@font-face {
    font-family: TT-Moons-Thin-Italic-DEMO;
    src: url(Assets/TT-Moons-Thin-Italic-DEMO.otf);
}
h1{
  font-family:TT-Moons-Thin-Italic-DEMO;
  font-size: 60px;
}


body{
  margin: auto;
  }

  .hero{
    width:80%;
    margin: auto;
    display: block;
  }
.images{
  margin:auto;
  text-align: center;
  display: inline-block;

}
#wrapper{
  display: inline;
  width:40%;
}
.all{
  width:40%;
  margin: auto;
  padding:10px;
}
p.text{
  display:none;
}


@media (min-width: 600px) {
  .all{
    width:100%;

}
/*columns hover effect*/
p.text{
  width:30%;
  display: inline;
  font-size: 30px;
  color:white;
}

#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
display: inline;


}

div#wrapper{
  width:30%;
  display: inline-block;
}
#wrapper:hover .text {
visibility:visible;
bottom: 50px;
}










}
