
*{
  box-sizing: border-box;
}
@font-face {
    font-family: TT-Moons-Thin-Italic-DEMO;
    src: url(Assets/TT-Moons-Thin-Italic-DEMO.otf);
}

@font-face {
    font-family: brushgyo;
    src: url(Assets/brushgyo.ttf);
}
    @font-face {
        font-family: RedVelvet-Regular;
        src: url(Assets/RedVelvet-Regular.otf);
}
p{
  font-family: brushgyo;
  font-size: 60px;
}
.quote{
  font-family: RedVelvet-Regular;
}


h1{
  font-family:TT-Moons-Thin-Italic-DEMO;
  font-size: 4vw;
  text-align: left;
  display: inline-block;
  margin: auto;

}
li{
  font-family: RedVelvet-Regular;
  display: inline;
  font-size: 2vw;
  display: flex-inline;
  justify-content: space-around;

}

.grow:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        display: inline-block;
}







ul{
  display: inline;
}

.quote{
  background-color: mintcream;
  height:100px;
  width:100%;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-left: 20%;
  padding-right:20%;
}


body{
  margin: auto;
  text-align: center;
  }

  .hero{
    width:80%;
    margin: auto;
    display: block;
    margin-top: 20px;
  }
.images{
  margin: auto;
  text-align: center;
  display: inline-block;
  width: 80%;


}
/* hover effect*/

#wrapper{
  display: inline;
  width:40%;
}
.all{
  width:40%;
  margin: auto;



}
p.text{
  display:none;
}


@media (min-width: 600px) {
  .all{
    width:100%;


}
/*columns hover effect*/
p.text{
  width:30%;
  display: inline;
  font-size: 40px;
  color:white;
}

#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
display: inline;


}

div#wrapper{
  width:30%;
  display: inline-block;
  padding: 10px;
}
#wrapper:hover .text {
visibility:visible;
bottom: 50px;
}












}
