/*applies to whole page*/


*{
  box-sizing: border-box;
}
@font-face {
    font-family: TT-Moons-Thin-Italic-DEMO;
    src: url(Assets/TT-Moons-Thin-Italic-DEMO.otf);
}

@font-face {
    font-family: brushgyo;
    src: url(Assets/brushgyo.ttf);
}
    @font-face {
        font-family: RedVelvet-Regular;
        src: url(Assets/RedVelvet-Regular.otf);
}
a{
  font-family: RedVelvet-Regular;
}

body{
  margin: auto;
  text-align: center;
  }
  /*footer settings*/
.footer {
    background-color: mintcream;
    width:100%;
    text-align: center;
    height:60px;
    padding-top: 18px;
    font-family: RedVelvet-Regular;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}
a:link{
  color: black;
  text-decoration: none;
}
a:hover{
  color: blue;
  text-decoration: none;
}
a:active{
  color: black;
  text-decoration: none;
}



/*header section*/
h1{
  font-family:TT-Moons-Thin-Italic-DEMO;
  font-size: 50px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;

}
li{
  font-family: RedVelvet-Regular;
  display: block;
  font-size: 25px;
  display: flex-inline;
  justify-content: space-around;
}

ul{
  display: inline;
}

/*little quote*/
.quote{
  background-color: mintcream;
  height:140px;
  width:100%;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-left: 10%;
  padding-right:10%;
  font-family: RedVelvet-Regular;
  font-size: 14px;
}

/*hero image*/

  .hero{
    width:100%;
    margin: auto;
    display: block;
    margin-top: 20px;
  }
  /*column image*/
.images{
  margin: auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#wrapper{
  display: inline;
  width:49%;
}
.all{
  width:49%;
  margin: auto;

}
a.text{
  display:none;
}
p.text{
    display:none;
}

@media screen and (min-width: 681px) {
  .quote{
    height:170px;
      padding-top: 23px;
      padding-left: 20%;
      padding-right:20%;
      font-family: RedVelvet-Regular;
      font-size: 14px;
    }





@media screen and (min-width: 600px) {
  .all{
    width:100%;
}
.images{
  width: 80%;
}
.hero{
  width:80%;
}
.quote{
height:170px;
  padding-top: 23px;
  padding-left: 20%;
  padding-right:20%;
  font-family: RedVelvet-Regular;
  font-size: 20px;
}


/*header section*/
h1{
  font-family:TT-Moons-Thin-Italic-DEMO;
  font-size: 4vw;
  text-align: left;
  display: inline-block;
  margin: auto;
margin-top: 15px;
}
li{
  font-family: RedVelvet-Regular;
  display: inline;
  font-size: 2vw;
  display: flex-inline;
  justify-content: space-around;
margin: 0 8px;
}

.grow:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        display: inline-block;
}

ul{
  display: inline;
}


/*columns hover effect*/
a.text{
  width:30%;
  display: inline;
  font-size: 3vw;
  color:white;
}
p.text{
  width:30%;
  display: inline;
  font-size: 3vw;
  color:white;
}

#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
display: inline;


}

div#wrapper{
  width:30%;
  display: inline-block;
  padding: 10px;
}
#wrapper:hover .text {
visibility:visible;
bottom: 50px;
}












}
