/*applies to whole page*/


*{
  box-sizing: border-box;
}
@font-face {
    font-family: TT-Moons-Thin-Italic-DEMO;
    src: url(Assets/TT-Moons-Thin-Italic-DEMO.otf);
}

@font-face {
    font-family: brushgyo;
    src: url(Assets/brushgyo.ttf);
}
    @font-face {
        font-family: RedVelvet-Regular;
        src: url(Assets/RedVelvet-Regular.otf);
}
p{
  font-family: brushgyo;
  font-size: 60px;
}

body{
  margin: auto;
  text-align: center;
  }

/*header section*/
h1{
  font-family:TT-Moons-Thin-Italic-DEMO;
  font-size: 4vw;
  text-align: left;
  display: inline-block;
  margin: auto;

}
li{
  font-family: RedVelvet-Regular;
  display: inline;
  font-size: 2vw;
  display: flex-inline;
  justify-content: space-around;

}

.grow:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        display: inline-block;
}

ul{
  display: inline;
}

/*little quote*/
.quote{
  background-color: mintcream;
  height:120px;
  width:100%;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-left: 10%;
  padding-right:10%;
  font-family: RedVelvet-Regular;
  font-size: 14px;
}

/*hero image*/

  .hero{
    width:100%;
    margin: auto;
    display: block;
    margin-top: 20px;
  }
  /*column image*/
.images{
  margin: auto;
  text-align: center;
  display: inline-block;
  width: 100%;


}

#wrapper{
  display: inline;
  width:49%;
}
.all{
  width:49%;
  margin: auto;

}
p.text{
  display:none;
}
@media (min-width: 681px) {
  .quote{
    height:170px;
      padding-top: 23px;
      padding-left: 20%;
      padding-right:20%;
      font-family: RedVelvet-Regular;
      font-size: 14px;

  }

@media (min-width: 600px) {
  .all{
    width:100%;
}
.images{
  width: 80%;
}
.hero{
  width:80%;
}
.quote{
height:170px;
  padding-top: 23px;
  padding-left: 20%;
  padding-right:20%;
  font-family: RedVelvet-Regular;
  font-size: 20px;
}
/*columns hover effect*/
p.text{
  width:30%;
  display: inline;
  font-size: 40px;
  color:white;
}

#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
display: inline;


}

div#wrapper{
  width:30%;
  display: inline-block;
  padding: 10px;
}
#wrapper:hover .text {
visibility:visible;
bottom: 50px;
}












}
